@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
    background-image: url('https://static.vecteezy.com/system/resources/previews/010/942/363/original/vote-voting-and-election-concept-on-virtual-screen-polling-ballot-online-elections-electronic-voting-technology-e-ballot-check-mark-closeup-finger-about-to-press-a-button-illustration-vector.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}